body {
   background-color: powderblue;
}
p {
    color: slategrey;
    font-size: 16px;
}
img{
    width: 225px;
    height:225px;
    background-size: contain;
background-repeat: no-repeat;
border-radius: 100px;
color: #000;

border: 1px solid black;
}
a{
    font-size: 20px;
}
h2{
    font-size: 150%;
}
li{
    font-size: 120%;
}
a{
    color: slategrey;
}